<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Callsheet Creator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script th:src="@{/js/dynamicForm.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css/}" href="../css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
</head>
<body>
<div th:unless="${adminPowers}">
    <h1>You Shall not pass!! Or see this page!!</h1>
    <a href="/">Home</a>
</div>

<div th:if="${adminPowers}">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark nav-bg">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/img/BullSheets_logo.png" height="110"></a>

            <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarBull"
                    aria-controls="navbarBull" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarBull">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link m-2 btn btn-nav float-right" href="/">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2 btn btn-nav float-right"
                           th:href="|/compactCallsheet/${production.getId()}|">Overview</a>
                    </li>
                    <li class="nav-item" th:if="${adminPowers} and ${activeCallsheetId}">
                        <a class="nav-link m-2 btn btn-nav float-right" th:href="|/callsheet/${activeCallsheetId-1}|">Callsheet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2 btn btn-nav float-right" href="#">New Callsheet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2 btn btn-nav float-right"
                           th:href="|/callsheetlist/${production.getId()}|">Callsheets list</a>
                    </li>
                    <li class="nav-item" th:if="${adminPowers} and ${production}">
                        <a class="nav-link m-2 btn btn-nav float-right"
                           th:href="|/user-list/|">User-List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2 btn btn-nav float-right" href="/logout">Logout  <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container top">
        <div class="row mb-5">
            <div class="col-12 text-center pt-3">
                <h2>CREATE A CALLSHEET</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post" onsubmit="return dateSubmissionCheck();">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="nameProductionCompany">Productiehuis</label>
                            <input type="text" class="form-control" id="nameProductionCompany" name="productionCompany"
                                   th:value="${production.getProductionCompany().getName()}" disabled>
                        </div>
                        <div class="form-group col">
                            <label for="adressProductionCompany">Straat en huisnummer</label>
                            <input type="text" class="form-control" id="adressProductionCompany"
                                   name="productionCompany" th:value="${production.getProductionCompany().getAdres()}"
                                   disabled>
                        </div>
                        <div class="form-group col">
                            <label for="zipProductionCompany">Postcode</label>
                            <input type="text" class="form-control" id="zipProductionCompany" name="productionCompany"
                                   th:value="${production.getProductionCompany().getZipcode()}" disabled>
                        </div>
                        <div class="form-group col">
                            <label for="cityProductionCompany">Stad</label>
                            <input type="text" class="form-control" id="cityProductionCompany" name="productionCompany"
                                   th:value="${production.getProductionCompany().getCity()}" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="productionName">Productie</label>
                            <input type="text" class="form-control" id="productionName" name="productionName"
                                   th:value="${production.getName()}" disabled>
                        </div>
                        <div class="form-group col-md-4 popup">
                            <label for="callsheetDate">Datum callsheet</label>
                            <span class="popuptext" id="datePopup" style="visibility:hidden">A callsheet with this date already exists!</span>
                            <input type="date" class="form-control" id="callsheetDate" name="callsheetDate"
                                   th:min="${currentDate}" onchange="datePoppers();" required>
                            <ul id="futureSheets"  style="display: none">
                                <li th:each="sheet:${futureSheets}" th:value="${sheet.getDate()}">date</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="callsheetTime">Crew Call</label>
                            <input type="time" class="form-control" id="callsheetTime" name="callsheetTime" required>
                        </div>
                    </div>

                    <h2>Locatie</h2>
                    <table width="100%" class="table table-striped">
                        <thead class="thead-dark">
                        <tr class="row">
                            <th class="col-2">Plaatsnaam</th>
                            <th class="col-4">Straatnaam en huisnummer</th>
                            <th class="col-1">Postcode</th>
                            <th class="col-2">Stad</th>
                            <th class="col-3">Type locatie</th>
                            <th class="col-12">Exra informatie</th>
                        </tr>
                        </thead>
                        <tbody id="location">
                        <tr class="row">
                            <td class="col-2"><input type="text" class="w-100 form-control" id="nameLocation"
                                                     name="mainLocation" required></td>
                            <td class="col-4"><input type="text" class="w-100 form-control" id="adressLocation"
                                                     name="mainLocation"></td>
                            <td class="col-1"><input type="text" class="w-100 form-control" id="zipLocation"
                                                     name="mainLocation"></td>
                            <td class="col-2"><input type="text" class="w-100 form-control" id="cityLocation"
                                                     name="mainLocation"></td>
                            <td class="col-3"><input type="text" class="w-100 form-control" id="typeLocation"
                                                     name="mainLocation"></td>
                            <td class="col-12"><input type="text" class="w-100 form-control" id="infoLocation"
                                                      name="mainLocation"></td>
                        </tr>
                        </tbody>
                    </table>

                    <h2>Crew</h2>
                    <table width="100%" class="table table-striped">
                        <thead class="thead-dark">
                        <tr class="row">
                            <th class="col-2">Functie</th>
                            <th class="col-3">Naam</th>
                            <th class="col">Telefoonnummer</th>
                            <th class="col-3">Email</th>
                            <th class="col">Call</th>
                            <th class="col-1">Verwijder</th>
                        </tr>
                        </thead>
                        <tbody id="crew">
                        <tr class="row">
                            <td class="col-2"><input type="text" class="w-100 form-control" id="crewFunction"
                                                     name="crewRow0"></td>
                            <td class="col-3"><input type="text" class="w-100 form-control" id="crewName"
                                                     name="crewRow0" required></td>
                            <td class="col"><input type="text" class="w-100 form-control" id="crewPhone"
                                                   name="crewRow0"></td>
                            <td class="col-3"><input type="email" class="w-100 form-control" id="crewMail"
                                                     name="crewRow0"></td>
                            <td class="col"><input type="time" class="w-100 form-control" id="crewCall" name="crewRow0">
                            </td>
                            <td class="col-1">
                                <button class="deleteRow castCrewNewCallsheet float-right" onclick="buttonCastCrewNewCallsheet()"><i class="fas fa-trash-alt fa-2x iconDel"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary mb-3 float-right" onclick="addRowCrewNewCallsheet()">
                        <b>+</b></button>

                    <h2>Cast</h2>
                    <table width="100%" class="table table-striped">
                        <thead class="thead-dark">
                        <tr class="row">
                            <th class="col-2">Functie</th>
                            <th class="col-3">Naam</th>
                            <th class="col">Telefoonnummer</th>
                            <th class="col-3">Email</th>
                            <th class="col">Call</th>
                            <th class="col-1">Verwijder</th>
                        </tr>
                        </thead>
                        <tbody id="cast">
                        <tr class="row">
                            <td class="col-2"><input type="text" class="w-100 form-control" id="castFunction"
                                                     name="castRow0"></td>
                            <td class="col-3"><input type="text" class="w-100 form-control" id="castName"
                                                     name="castRow0"></td>
                            <td class="col"><input type="text" class="w-100 form-control" id="castPhone"
                                                   name="castRow0"></td>
                            <td class="col-3"><input type="email" class="w-100 form-control" id="castMail"
                                                     name="castRow0"></td>
                            <td class="col"><input type="time" class="w-100 form-control" id="castCall" name="castRow0">
                            </td>
                            <td class="col-1">
                                <button class="deleteRow castCrewNewCallsheet float-right" onclick="buttonCastCrewNewCallsheet()"><i class="fas fa-trash-alt fa-2x iconDel"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary mb-3 float-right" onclick="addRowCastNewCallsheet()">
                        <b>+</b></button>

                    <h2>Extra Locaties</h2>
                    <table width="100%" class="table table-striped">
                        <thead class="thead-dark">
                        <tr class="row">
                            <th class="col-2">Plaatsnaam</th>
                            <th class="col-3">Straatnaam en huisnummer</th>
                            <th class="col-1">Postcode</th>
                            <th class="col-2">Stad</th>
                            <th class="col-3">Type locatie</th>
                            <th class="col-1">Verwijder</th>
                            <th class="col-12">Exra informatie</th>
                        </tr>
                        </thead>
                        <tbody id="extraLocation">
                        <tr class="row">
                            <td class="col-2"><input type="text" class="w-100 form-control" id="nameExtraLocation"
                                                     name="extraLocationRow0"></td>
                            <td class="col-3"><input type="text" class="w-100 form-control" id="adresExtraLocation"
                                                     name="extraLocationRow0"></td>
                            <td class="col-1"><input type="text" class="w-100 form-control" id="zipExtraLocation"
                                                     name="extraLocationRow0"></td>
                            <td class="col-2"><input type="text" class="w-100 form-control" id="cityExtraLocation"
                                                     name="extraLocationRow0"></td>
                            <td class="col-3"><input type="text" class="w-100 form-control" id="typeExtraLocation"
                                                     name="extraLocationRow0"></td>
                            <td class="col-1">
                                <button class="deleteRow float-right"><i class="fas fa-trash-alt fa-2x iconDel"></i></button>
                            </td>
                            <td class="col-12"><input type="text" class="w-100 form-control" id="infoExtraLocation"
                                                      name="extraLocationRow0"></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary mb-3 float-right"
                            onclick="addRowLocationsNewCallsheet()"><b>+</b>
                    </button>

                    <h2>Opnameplanning</h2>
                    <table width="100%" class="table table-striped">
                        <thead class="thead-dark">
                        <tr class="row">
                            <th class="col">Start</th>
                            <th class="col">Einde</th>
                            <th class="col-7">Beschrijving</th>
                            <th class="col-1">Verwijder</th>
                        </tr>
                        </thead>
                        <tbody id="planning">
                        <tr class="row">
                            <td class="col"><input type="time" class="w-100 form-control" id="planningBegin"
                                                   name="planningRow0" required></td>
                            <td class="col"><input type="time" class="w-100 form-control" id="planningEnd"
                                                   name="planningRow0" required></td>
                            <td class="col-7"><input type="text" class="w-100 pb-5 mb-5 form-control"
                                                     id="planningDescription" name="planningRow0" required></td>
                            <td class="col-1">
                                <button class="deleteRow castCrewNewCallsheet float-right" onclick="buttonPlanningNewCallsheet()"><i class="fas fa-trash-alt fa-2x iconDel"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary mb-3 float-right"
                            onclick="addRowPlanningNewCallsheet()"><b>+</b>
                    </button>


                    <h2>Materiaal</h2>
                    <table width="100%" class="table table-striped">
                        <thead class="thead-dark">
                        <tr class="row">
                            <th class="col-2">Type</th>
                            <th class="col-2">Naam</th>
                            <th class="col-7">Specificaties</th>
                            <th class="col-1">Verwijder</th>
                        </tr>
                        </thead>
                        <tbody id="material">
                        <tr class="row">
                            <td class="col-2"><input type="text" class="w-100 form-control" id="materialType"
                                                     name="materialRow0"></td>
                            <td class="col-2"><input type="text" class="w-100 form-control" id="materialName"
                                                     name="materialRow0"></td>
                            <td class="col-7"><input type="text" class="w-100 form-control"
                                                     id="materialSpecifications" name="materialRow0"></td>
                            <td class="col-1">
                                <button class="deleteRow castCrewNewCallsheet float-right" onclick="buttonEquipmentNewCallsheet()"><i class="fas fa-trash-alt fa-2x iconDel"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary mb-3 float-right"
                            onclick="addRowMaterialsNewCallsheet()"><b>+</b></button>
                    <br><br>
                    <div>
                        <button type="submit" class="btn btn-primary">Maak callsheet</button>
                        <a class="btn cancel" href="/">Cancel</a>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>

    <footer>
        <div class="text-center p-2">
            <a href="https://sennmaes.wixsite.com/bullsheets" class="p-2"><i class="far fa-copyright"></i> BULLSHEETS</a>
            <p class="font-italic pt-2">Cut the bullshit</p>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>

        $('.table tbody').on('click', '.deleteRow', function () {
            $(this).closest('tr').remove();
        });
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#planning" ).sortable();
            $( "#planning" ).disableSelection();
        } );
    </script>
</div>
</body>
</html>